<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Calorie Counter</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<style type="text/css">
		body {
			background-color: skyblue;
			text-align: center;
		}
	</style>
	<form action="/users" method="POST">
		<label>name</label>
		<input type="text" name="name" autocomplete="off">
		<br>
		<br>
		<button type="submit">submit</button>
	</form>
</body>
</html>